/* DECLARAÇÃO DE FONTES */

@font-face {
	font-family: 'Gabriola';
	src: url("../_fonts/Gabriola.ttf");
}

@font-face {
	font-family: 'Gentium Basic Regular';
	src: url("../_fonts/GenBasR.ttf");
}

@font-face {
	font-family: 'Gentium Basic Bold';
	src: url("../_fonts/GenBasBI.ttf");
}

@font-face {
	font-family: 'Gentium Basic Italic';
	src: url("../_fonts/GenBasI.ttf");
}

* {
    font-family: 'Gentium Basic Regular';
    color: #fff;
    font-size: 18pt;
}


/* -------------------- PADRÃO -------------------- */

.bg-geral {
    width: 100%;
    height: 100%;
    background: url(../_img/bg-all2.jpg) no-repeat center;
    background-size: cover;
    position: fixed;
    z-index: -1;
}

.title {
    font-family: 'Gabriola';
    color: #fff;
    font-size: 70pt;
    text-align: center;
    padding-top: 50px;
}

.title:before {
    content: "";
    width: 160px;
    height: 6px;
    background-color: #fff;
    display: inline-block;
    position: relative;
    top: -22px;
    left: -30px;
}

.title:after {
    content: "";
    width: 160px;
    height: 6px;
    background-color: #fff;
    display: inline-block;
    position: relative;
    top: -22px;
    right: -30px;
}

.subtitle {
    font-family: 'Gabriola';
    font-size: 45pt;
    text-align: left;
    padding-top: 50px;
}

.subtitle:after {
    content: "";
    width: 80px;
    height: 5px;
    background-color: #fff;
    display: block;
    position: absolute;
}

/*
.subtitle:after {
    content: "";
    width: 80px;
    height: 5px;
    background-color: #fff;
    display: inline-block;
    position: relative;
    top: 36px;
    right: 192px;
}
*/

/* -------------------- INTRODUÇÃO -------------------- */

.introducao {
    width: 100%;
    height: 700px;
/*    background: url(../_img/bg-intro3.jpg) no-repeat center;*/
    background-size: cover;
    text-shadow: 1px 1px 0.1em #000;
}

.menu {
    display: block;
    position: relative;
    background-color: rgba(0, 0, 0, 0.7);
    width: 359px;
    height: 125px;
    margin: 0 auto;
    top: -55px;
    z-index: 1;
    transition: .2s;
}

.menu li:last-of-type {
    display: none;
}

.menu ul {
    display: block;
    border: 3px;
    border-color: #fff;
    border-style: solid;
    position: absolute;
    margin: 0 15px 0 15px;
}

.menu ul li {
    font-size: 16pt;
    display: inline-block;
    position: relative;
    padding-top: 55px;
    margin: 12px;
    cursor: pointer;
}

.menu ul li:hover:before {
    content: "";
    display: block;
    position: absolute;
    background: #fff;
    width: 30px;
    height: 1px;
    left: 0px;
    top: 80px;
    transition: .1s;
}

.introducao .main{
    display: block;
    position: absolute;
    top: 130px;
}

.introducao img {
    display: block;
    position: relative;
    margin: 0 auto 0 auto;
}

.introducao img:last-of-type {
    display: none;
}

.introducao p {
    font-family: 'Gentium Basic Bold';
    text-align: center;
    font-size: 20pt;
    margin-bottom: 10px;
}

.introducao h1 {
    color: #fff;
    font-family: 'Gentium Basic Bold';
    text-align: center;
    border: 0px;
    margin: 30px;
    padding: 0px;
    font-size: 42pt;
}


/* -------------------- CARDÁPIO -------------------- */

.cardapio {
    width: 100%;
    height: 912px;
    background-color: rgba(20, 12, 10, 0.8);
/*    background-color: #140c0a;*/
    background-size: cover;
}

.cardapio li {
    display: table;
    padding: 8px 0px 8px 0px;
    
}

.cardapio li:nth-child(odd) {
    background-color: rgba(0, 0, 0, 0.6);
}

.cardapio li .item { /* ARRUMA O ALINHAMENTO */
    display: block;
    position: relative;
    top: 3px;
}

.cardapio li .item:after {
    content: "";
    width: 50px;
    height: 3px;
    background-color: #fff;
    display: block;
    position: relative;
    top: -17px;
    left: 265px;
}

.cardapio .value {
    display: inline-block;
    position: relative;
    left: 80px;
}

.cardapio span {
    font-size: 12px;
    display: inline-block;
    position: relative;
    top: -7px;
    left: -4px;
}

.cardapio .desc {
    position: relative;
    font-family: 'Gentium Basic Regular';
    text-align: right;
}

.cardapio .desc:before {
    content: "";
    width: 50px;
    height: 3px;
    background-color: #fff;
    display: block;
    position: relative;
    top: 12px; /* ACRESCENTADO 2px PARA AJUSTE */
    left: 90px;
}


/* -------------------- HISTÓRIA -------------------- */

.history {
    width: 100%;
    height: 828px;
/*    background: url(../_img/bg-historia.jpg) no-repeat center;*/
    background-size: cover;
}

.history .container .bg-trans {
    display: table;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 10px;
}

.contato img {
    display: block;
    margin-top: 30px;
}

.contato img:last-of-type {
    display: block;
    margin-top: 0px;
}

.contato span {
    font-size: 19pt;
    display: block;
    position: relative;
    top: -53px;
    left: 95px;
}

.redes_sociais {
    display: block;
    position: relative;
}

.redes_sociais img {
    display: inline-block;
    margin-top: 30px;
}

.redes_sociais a:nth-child(3), .redes_sociais a:nth-child(4) {
    margin-left: 30px;
}


/* -------------------- QUALIDADE -------------------- */

.qualidade {
    width: 100%;
    height: 620px;
    background-color: rgba(20, 12, 10, 0.8);
}

.qualidade img {
    display: block;
    margin: 180px auto 0px auto;
}

.qualidade ul {
    margin-top: 50px;
}

.qualidade ul li {
    text-align: center;
}

.qualidade ul li h3 {
/*    font-family: 'Gentium Basic Bold';*/
    font-family: 'Gabriola';
    font-size: 25pt;
}

.qualidade ul li h3:after {
    content: "";
    width: 50px;
    height: 4px;
    background-color: #fff;
    display: block;
    position: relative;
    left: 125px;
    margin: 8px 0 12px 0;
}


/* -------------------- QUEBRA -------------------- */

.quebra {
    width: 100%;
    height: 300px;
/*    background: url(../_img/bg-quebra.jpg) no-repeat center;*/
}

.quebra div {
    align-content: center;
}

.quebra blockquote {
    display: block;
    position: relative;
    top: 70px;
}

.quebra p {
    font-size: 25pt;
    text-align: center;
    font-family: 'Gentium Basic Italic';
    text-shadow: 1px 1px 0.1em #000;
}

.quebra p:after {
    content: "";
    width: 60px;
    height: 5px;
    background-color: #fff;
    display: block;
    position: absolute;
    top: 100px;
    left: 450px;
}

.quebra cite {
    font-family: 'Gentium Basic Regular';
    font-size: 15pt;
    font-style: normal;
    text-align: center;
    display: block;
    position: relative;
    top: 55px;
    text-shadow: 1px 1px 0.1em #000;
}


/* -------------------- RODAPÉ -------------------- */

.rodape {
    background-color: #140c0a;
    width: 100%;
    height: 100px;
}

.rodape p:first-child {
    font-size: 14pt;
    display: block;
    position: relative;
    top: 40px;
}

.rodape a {
    display: block;
    position: relative;
    top: 42px;
    left: 150px;
    font-size: 12pt;
    color: rgba(255, 255, 255, 0.3);
    padding: 0px;
    transition: .3s;
}

.rodape a:hover {
    color: rgba(255, 255, 255, 1);
}

/* -------------------- INFORMAÇÕES -------------------- */

.references .container .bg-trans {
    display: table;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 10px;
}

.references .container .redes_sociais a {
    display: block;
    font-size: 18pt;
    margin-bottom: 20px;
    color: rgba(255, 255, 255, 0.7);
}

.references .container .redes_sociais a:first-child {
    margin-top: 20px;
}

.references .container .redes_sociais a:hover {
    color: #fff;
}

.references .voltar {
    position: relative;
    padding: 10px 40px;
    border: 2px;
    border-color: #fff;
    border-style: solid;
    top: 130px;
    left: -43px;
}